*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "Apple SD Gothic Neo",
    sans-serif;
}
